@font-face {
  font-family: "iconfont"; /* Project id 2559500 */
  src: url('//at.alicdn.com/t/font_2559500_cmnz126dckg.woff2?t=1621473193106') format('woff2'),
       url('//at.alicdn.com/t/font_2559500_cmnz126dckg.woff?t=1621473193106') format('woff'),
       url('//at.alicdn.com/t/font_2559500_cmnz126dckg.ttf?t=1621473193106') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhuye:before {
  content: "\e645";
}

.icon-wenzhang:before {
  content: "\e60c";
}

.icon-guidang:before {
  content: "\e65b";
}

.icon-shu:before {
  content: "\e7ed";
}

.icon-guanyu1:before {
  content: "\e681";
}

.icon-shenghuo:before {
  content: "\e62a";
}

.icon-xin:before {
  content: "\e608";
}

.icon-wangyiyunyinle:before {
  content: "\e7ee";
}

.icon-weixin:before {
  content: "\e7b4";
}

.icon-github:before {
  content: "\e600";
}

.icon-bilibili:before {
  content: "\e602";
}

.icon-yuquemianlogo:before {
  content: "\e732";
}

.icon-jinlingyingcaiwangtubiao31:before {
  content: "\e6be";
}

.icon-biaoqian:before {
  content: "\e618";
}

.icon-rili:before {
  content: "\e641";
}

.icon-liulan1:before {
  content: "\e680";
}

.icon-zan:before {
  content: "\e613";
}

.icon-naozhong:before {
  content: "\e601";
}

.icon-ux13991947949968002:before {
  content: "\e66c";
}

.icon-bofang:before {
  content: "\e603";
}

.icon-jianli:before {
  content: "\e61b";
}

